Q1. List any five functions of the pandas library with execution.

ANS_1:- 

1. head(): Returns the first n rows of the DataFrame.

In [10]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['F', 'M', 'M', 'M', 'F']
}

df = pd.DataFrame(data)
print("First 3 rows of the DataFrame:")
print(df.head(3))

First 3 rows of the DataFrame:
      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M

2. describe(): Generates descriptive statistics of the DataFrame.

In [12]:
print("Descriptive statistics of the DataFrame:")
print(df.describe())

Descriptive statistics of the DataFrame:
             Age
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000

3. info(): Displays a concise summary of the DataFrame.

In [13]:
print("Info of the DataFrame:")
df.info()

Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Gender  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

4. drop(): Removes rows or columns by specifying label names and the corresponding axis.

In [14]:
df_dropped = df.drop(columns=['Gender'])
print("DataFrame after dropping the 'Gender' column:")
print(df_dropped)

DataFrame after dropping the 'Gender' column:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eva   45

5. sort_values(): Sorts the DataFrame by the values of specified columns.

In [15]:
df_sorted = df.sort_values(by='Age')
print("DataFrame sorted by 'Age':")
print(df_sorted)

DataFrame sorted by 'Age':
      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M
4      Eva   45      F

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

ANS_2:-

In [16]:
import pandas as pd

def reindex_dataframe(df):
    new_index = range(1, 2 * len(df) + 1, 2)
    df.index = new_index
    return df
data = {
    'A': [100, 200, 300],
    'B': [450, 550, 650],
    'C': [770, 880, 990]
}

df = pd.DataFrame(data)
df_reindexed = reindex_dataframe(df)
print(df_reindexed)

     A    B    C
1  100  450  770
3  200  550  880
5  300  650  990

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

ANS_3:-

In [17]:
import pandas as pd

def sum_first_three_values(df):
    sum_values = df['Values'].head(3).sum()
    
    print(f"The sum of the first three values is: {sum_values}")

data = {
    'Values': [100, 200, 300, 400, 500]
}

df = pd.DataFrame(data)

sum_first_three_values(df)

The sum of the first three values is: 600

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

ANS_4:-

In [18]:
import pandas as pd

data = {
    'Text': ['Hello world', 'Pandas is great', 'Python programming', 'Data analysis']
}

df = pd.DataFrame(data)
df['Word_Count'] = df['Text'].str.split().str.len()
print(df)

                 Text  Word_Count
0         Hello world           2
1     Pandas is great           3
2  Python programming           2
3       Data analysis           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

ANS_5:-

DataFrame.size and DataFrame.shape are two attributes of a Pandas DataFrame that provide information about the DataFrame's dimensions, but they convey different aspects:

-> DataFrame.size:-

    1. Definition: The size attribute returns the total number of elements in the DataFrame.
    2. Calculation: It is the product of the number of rows and columns in the DataFrame.
    3. Usage: Useful when you need to know the total number of elements regardless of the DataFrame's dimensions.

->DataFrame.shape

    1. Definition: The shape attribute returns a tuple representing the dimensions of the DataFrame.
    2. Calculation: It provides the number of rows and columns in the DataFrame.
    3. Usage: Useful for quickly obtaining the dimensions of the DataFrame.

Q6. Which function of pandas do we use to read an excel file?

ANS_6:-

To read an Excel file into a Pandas DataFrame, you use the pd.read_excel() function. This function allows you to load data from Excel files (both .xls and .xlsx formats) into a DataFrame.

#CODE

import pandas as pd

df = pd.read_excel('path/to/your/file.xlsx')

print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

ANS_7:-

In [20]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
data = {
    'Email': ['john.doe@example.com', 'jane.smith@domain.com', 'bob.jones@another.com']
}

df = pd.DataFrame(data)
df = extract_username(df)
print(df)

                   Email    Username
0   john.doe@example.com    john.doe
1  jane.smith@domain.com  jane.smith
2  bob.jones@another.com   bob.jones

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

ANS_8:-

In [21]:
import pandas as pd

def filter_rows(df):
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

data = {
    'A': [3,8,6,2,9],
    'B': [3,5,9,3,1],
    'C': [1,7,4,5,2]
}

df = pd.DataFrame(data)
filtered_df = filter_rows(df)
print(filtered_df)

   A  B  C
1  8  5  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

ANS_9:-

In [23]:
import pandas as pd

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev_value = df['Values'].std()
    
    
    print(f"Mean: {mean_value}")
    print(f"Median: {median_value}")
    print(f"Standard Deviation: {std_dev_value}")

data = {
    'Values': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

calculate_statistics(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [25]:
import pandas as pd

def add_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

data = {
    'Date': pd.date_range(start='2024-01-01', periods=10, freq='D'),
    'Sales': [100, 120, 130, 140, 150, 160, 170, 180, 190, 200]
}

df = pd.DataFrame(data)
df = add_moving_average(df)

print(df)

        Date  Sales  MovingAverage
0 2024-01-01    100            NaN
1 2024-01-02    120            NaN
2 2024-01-03    130            NaN
3 2024-01-04    140            NaN
4 2024-01-05    150            NaN
5 2024-01-06    160            NaN
6 2024-01-07    170     138.571429
7 2024-01-08    180     150.000000
8 2024-01-09    190     160.000000
9 2024-01-10    200     170.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [26]:
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

data = {
    'Date': pd.date_range(start='2024-01-01', periods=7, freq='D')
}
df = pd.DataFrame(data)
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2024-01-01     Monday
1 2024-01-02    Tuesday
2 2024-01-03  Wednesday
3 2024-01-04   Thursday
4 2024-01-05     Friday
5 2024-01-06   Saturday
6 2024-01-07     Sunday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [27]:
import pandas as pd

def filter_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return filtered_df

data = {
    'Date': pd.date_range(start='2022-12-25', periods=40, freq='D'),
    'Value': range(40)
}

df = pd.DataFrame(data)
filtered_df = filter_dates(df)
print(filtered_df)

         Date  Value
7  2023-01-01      7
8  2023-01-02      8
9  2023-01-03      9
10 2023-01-04     10
11 2023-01-05     11
12 2023-01-06     12
13 2023-01-07     13
14 2023-01-08     14
15 2023-01-09     15
16 2023-01-10     16
17 2023-01-11     17
18 2023-01-12     18
19 2023-01-13     19
20 2023-01-14     20
21 2023-01-15     21
22 2023-01-16     22
23 2023-01-17     23
24 2023-01-18     24
25 2023-01-19     25
26 2023-01-20     26
27 2023-01-21     27
28 2023-01-22     28
29 2023-01-23     29
30 2023-01-24     30
31 2023-01-25     31
32 2023-01-26     32
33 2023-01-27     33
34 2023-01-28     34
35 2023-01-29     35
36 2023-01-30     36
37 2023-01-31     37

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

ANS_13:-

To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is pandas itself. You typically import it with the alias pd, which is the conventional shorthand used in the Pandas community.

CODE:-

->  import pandas as pd

By importing Pandas with import pandas as pd, you gain access to all the fundamental functions and classes provided by the library, such as pd.DataFrame(), pd.Series(), pd.read_csv(), and many others.