Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANS_1:-
Differences Between SQL and NoSQL Databases:-

-> SQL Databases:
1. Structure:
    SQL databases are relational databases that use structured query language (SQL) for defining and manipulating the data.
    They have a predefined schema and tables with rows and columns.
2. Schema:
    The schema is fixed and predefined. Changing the schema often requires significant modification to the database structure.
3. Scalability:Typically, SQL databases are vertically scalable, meaning you can increase the load on a single server by adding more CPU, RAM, or SSD.

-> Examples:
MySQL, PostgreSQL, Oracle, SQL Server.

->NoSQL Databases:

1. Structure:
    NoSQL databases are non-relational and can store and retrieve data in a variety of ways, including key-value pairs, wide-column stores, graph databases, or document-oriented databases.
    They do not have a predefined schema and are more flexible in terms of the data they can store.
2. Schema:
    No fixed schema, allowing for dynamic changes and scalability. Data can be added without predefining the structure.
3. Scalability:
    NoSQL databases are typically horizontally scalable, meaning you can add more servers to handle increased load.
    
-> Examples:MongoDB, Cassandra, Redis, Couchbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS_2:-

DDL is a subset of SQL (Structured Query Language) used to define and manage database structures, such as tables, indexes, and schemas. DDL commands are used to create, alter, and delete database objects.


DDL (Data Definition Language)
DDL is a subset of SQL (Structured Query Language) used to define and manage database structures, such as tables, indexes, and schemas. DDL commands are used to create, alter, and delete database objects.

1. CREATE
The CREATE command is used to create new database objects like tables, indexes, views, and schemas.

#SQL CODE :- 
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);

2. DROP
The DROP command is used to delete existing database objects such as tables, indexes, views, and schemas. It permanently removes the object and its data from the database.

#SQL CODE :- 
DROP TABLE employees;


3. ALTER
The ALTER command is used to modify the structure of an existing database object. It can add, delete, or modify columns and constraints in a table.

#SQL CODE:- 
ALTER TABLE employees
ADD COLUMN email VARCHAR(100);

4. TRUNCATE
The TRUNCATE command is used to remove all rows from a table without deleting the table itself. It is faster than DELETE because it does not generate individual row deletion log entries.

#SQL CODE :- 
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS-3:-

DML is a subset of SQL used to retrieve, insert, update, and delete data within database tables. DML commands are essential for managing the data within a database.

1. INSERT
The INSERT command is used to add new rows of data into a table.

#SQL CODE:-  
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (1, 'John', 'Doe', '2023-01-15');

2. UPDATE
The UPDATE command is used to modify existing data within a table. It can update one or more rows based on specified conditions.

#SQL CODE:- 
 UPDATE employees
SET email = 'john.doe@example.com'
WHERE employee_id = 1;

3. DELETE
The DELETE command is used to remove existing rows from a table based on specified conditions.

#SQL CODE :- 
 DELETE FROM employees
WHERE employee_id = 1;

Q4. What is DQL? Explain SELECT with an example.

ANS_4:-

DQL is a subset of SQL used to query or retrieve data from a database. The primary DQL command is SELECT, which allows you to fetch data from one or more tables.

The SELECT command is used to specify which columns of data to retrieve from a database table or tables. It can include conditions to filter the results, sorting to order the results, and joins to combine data from multiple tables.

#SQL CODE:-
SELECT column1, column2, ...
FROM table_name
WHERE condition;


SELECT: The primary DQL command used to retrieve data from a database.
Can include various clauses such as WHERE (for filtering), ORDER BY (for sorting), and JOIN (for combining data from multiple tables).

Q5. Explain Primary Key and Foreign Key.

ANS_5:-

Primary Key

A primary key is a column or a combination of columns in a database table that uniquely identifies each row in that table. It ensures that each record within the table is unique and can be referenced unambiguously.

Characteristics of a Primary Key:

1. Uniqueness: Each value in the primary key column(s) must be unique, ensuring no duplicate entries.
2. Non-null: Primary key columns cannot contain NULL values, ensuring that each row has a valid and identifiable key.
3. Immutable: The values in the primary key column(s) should rarely change, maintaining the integrity of the table.
4. Single Column or Composite Key: A primary key can consist of a single column or multiple columns (composite key).

Foreign Key

A foreign key is a column or a combination of columns in one table that establishes a link between data in two tables. It is used to enforce referential integrity by ensuring that the value in the foreign key column exists in the referenced primary key column.

Characteristics of a Foreign Key:

1. Referential Integrity: Ensures that the value in the foreign key column corresponds to a valid, existing value in the 2. 2. referenced table's primary key.
3. Non-unique: Foreign key values can be duplicated in the table where they reside.
4. Foreign key columns can contain NULL values, indicating an optional relationship.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# CODE:-
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",  
    user="ODBC ",  
    password="-p",  
    database="your_database"  
)

cursor = connection.cursor()
cursor.execute("SELECT * FROM employees")
result = cursor.fetchall()

for row in result:
    print(row)

cursor.close()
connection.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

ANS_7:-

Order of Execution of SQL Clauses
When an SQL query is executed, the clauses are processed in a specific order. Understanding this order is crucial for writing effective and efficient queries.

1. FROM: Determines the source tables from which to retrieve data.

2. JOIN: Combines rows from two or more tables based on a related column between them.

3. WHERE: Filters rows based on specified conditions.

4. GROUP BY: Groups rows sharing a property so that aggregate functions can be applied to each group.

5. HAVING: Filters groups based on specified conditions (used with GROUP BY).

6. SELECT: Specifies the columns to be returned by the query.

7. DISTINCT: Removes duplicate rows from the result set.

8. ORDER BY: Sorts the result set based on one or more columns.

9. LIMIT/OFFSET: Limits the number of rows returned by the query and specifies an offset for the rows.