Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

ANS_1:-

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

ANS_2:-

In [2]:
import pandas as pd

data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series = pd.Series(data_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

ANS_3:-

In [3]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'gender': ['F', 'M', 'M']
}

df = pd.DataFrame(data)
print(df)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ANS_4:-

A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It can be thought of as a collection of Series objects, where each Series represents a column in the DataFrame.

Difference Between DataFrame and Series:-

1. Dimensionality:
    1. Series: One-dimensional (1D). Essentially a single column of data with an index.
    2. DataFrame: Two-dimensional (2D). Consists of rows and columns, similar to a table or a spreadsheet.
    
2. Structure:
    1. Series: Can be thought of as a single column of data.
    2. DataFrame: Can be thought of as a collection of Series (multiple columns of data).
    
3. Usage:
    1. Series: Used when you need to work with a single column of data.
    2. DataFrame: Used when you need to work with multiple columns of data

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

ANS_5:-

-> Pandas provides a wide range of functions to manipulate and analyze data in a DataFrame. Some of the common functions include:

1. head() and tail(): View the first or last n rows of the DataFrame.
2. describe(): Generate descriptive statistics.
3. info(): Display a concise summary of the DataFrame.
4. shape: Get the dimensions of the DataFrame.
5. drop(): Remove rows or columns.
6. loc[] and iloc[]: Access rows and columns by labels or positions.
7. groupby(): Group data by specified columns.
8. merge(): Merge DataFrames using database-style joins.

In [7]:
import pandas as pd

data = {
    'Guns': ['PISTOL', 'RIFEL', 'SNIPER'],
    'Category': ['D-EAGEL', 'VANDEL', 'OPERATOR'],
    'DAMAGE': [30, 100, 150]
}

df = pd.DataFrame(data)

average_sales = df.groupby('Category')['DAMAGE'].mean().reset_index()

print(average_sales)

   Category  DAMAGE
0   D-EAGEL    30.0
1  OPERATOR   150.0
2    VANDEL   100.0

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ANS_6:-

Among the given options, both Series and DataFrame in Pandas are mutable in nature. This means you can modify their contents after they have been created.

Panel, on the other hand, was a three-dimensional data structure in earlier versions of Pandas, but it has been deprecated since version 0.25.0 in favor of more powerful and flexible data structures like MultiIndex DataFrame.

Q7. Create a DataFrame using multiple Series. Explain with an example.

ANS_7:-

In [9]:
import pandas as pd

names = pd.Series(['ASHISH', 'DEVESH', 'DHARAM'])
ages = pd.Series([20, 21, 19])
genders = pd.Series(['M', 'G', 'G'])

df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

print(df)

     Name  Age Gender
0  ASHISH   20      M
1  DEVESH   21      G
2  DHARAM   19      G